{{ 'component-blog-item.css' | asset_url | stylesheet_tag }}

{%- liquid
  if section.settings.style == 'slider'
    assign slider_id = section.id
  else 
    assign slider_id = blank
  endif
  
  assign post_limit = section.settings.post_limit

  assign blog_has_items = false
  if blogs[section.settings.blog].articles.size > 0 or section.settings.blog == blank 
    assign blog_has_items = true
  endif

  render 'media-shape', shape: section.settings.media_shape, id: section.id 
  
  render 'section-heading', heading: section.settings.heading, navigation: slider_id, seo_h_tag: section.settings.seo_h_tag, hide_border: section.settings.disable_section_title_border

-%}
<blog-posts class="blog-posts blog-posts--{{ section.settings.style }} element--overflow-hidden">

  {%- if section.settings.style == 'slider' -%}
    <css-slider data-options='{
      "selector": ".js-slider-item",
      "groupCells": true,
      "navigation": false,
      "thumbnails": false
      }'
      class="css-slider"
      id="slider-{{ section.id }}"
    >
  {%- endif -%}

    <div class="grid 
      {% if section.settings.style == 'list' %} grid-1 {% else %} grid-2 grid-lap-1 {% endif %} 
      {% if section.settings.style == 'slider' %} grid--slider {% else %} grid--layout {% endif %} grid--align-items-stretch
      {% if section.settings.disable_border %} element--hide-inner-borders {% endif %}
    "
    >
      {%- if blog_has_items -%}

        {%- liquid
          unless section.settings.blog == blank
            for article in blogs[section.settings.blog].articles limit: post_limit
              render 'blog-item', article: article, show_image: section.settings.blog_show_image, type: 'section', index: forloop.index, blog_url: blogs[section.settings.blog].url, show_author: section.settings.show_author, show_comments: section.settings.show_comments, show_tags: section.settings.show_tags, show_date: section.settings.show_date, show_excerpt: section.settings.show_excerpt, block_style: section.settings.style
            endfor
          else
            for i in (1..post_limit)
              render 'blog-item', blank_article: true, show_image: section.settings.blog_show_image, index: forloop.index, show_author: section.settings.show_author, show_comments: section.settings.show_comments, show_tags: section.settings.show_tags, show_date: section.settings.show_date, block_style: section.settings.style
            endfor
          endunless
        -%}

      {%- else -%}
        <span class="no-content-message">
          {{ 'blog.grid.no_articles_text' | t }}
        </span>
      {%- endif -%}

    </div>

  {%- if section.settings.style == 'slider' -%}
    </css-slider>
  {%- endif -%}

  {%- render 'section-footer', cta_label: section.settings.cta_label, cta_label_is_translation: false, cta_url: section.settings.cta_url, cta_target: section.settings.cta_target, nav: slider_id, nav_desktop: false, nav_mobile: true -%}

</blog-posts>

{%- render 'color-scheme', color_scheme: section.settings.color_scheme, hide_section_bottom_border: section.settings.disable_section_bottom_border -%}

{% schema %}
  {
    "name": "t:sections.blog-posts.name",
    "class": "element--has-section-borders mount-css-slider mount-blog-posts",
    "settings": [
      {
        "type": "header",
        "content": "t:raw-extra-words.settings_schema.layout_labels.section_heading.label"
      },
      {
        "type": "textarea",
        "id": "heading",
        "label": "t:sections.local-extra-words.sections.headings.heading",
        "default": "Blog posts"
      },
      {
        "type": "select",
        "id": "seo_h_tag",
        "label": "t:sections.refactor_words.seo.label",
        "info": "t:sections.refactor_words.seo.info",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "span",
            "label": "span"
          }
        ],
        "default": "h2"
      },
      {
        "type": "checkbox",
        "id": "disable_section_title_border",
        "label": "t:raw-extra-words.settings_schema.borders.remove.hide_section_title_border",
        "default": false
      },
      {
        "type": "header",
        "content": "t:raw-extra-words.settings_schema.layout_labels.content"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "t:sections.blog-posts.settings.blog.label"
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "t:raw-extra-words.settings_schema.labels.number_of_posts",
        "min": 1,
        "max": 12,
        "step": 1,
        "default": 4
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "t:sections.blog-posts.settings.show_view_all.label",
        "default": true
      },
      {
        "type": "header",
        "content": "t:raw-extra-words.settings_schema.layout_labels.style"
      },
      {
        "type": "checkbox",
        "id": "blog_show_image",
        "label": "t:sections.blog-posts.settings.show_image.label",
        "default": true
      },
      {
        "type": "select",
        "id": "media_shape",
        "label": "t:raw-extra-words.settings_schema.labels.media_shape",
        "options": [
          {
            "value": "none",
            "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_0"
          },
          {
            "value": "9999px 9999px var(--brg) var(--brg)",
            "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_1"
          },
          {
            "value": "var(--brg) 9999px 9999px var(--brg)",
            "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_2"
          },
          {
            "value": "var(--brg) var(--brg) 9999px 9999px",
            "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_3"
          },
          {
            "value": "9999px var(--brg) var(--brg) 9999px",
            "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_4"
          },
          {
            "value": "9999px 9999px 9999px 9999px",
            "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_5"
          }
        ],
        "default": "9999px 9999px 9999px 9999px"
      },
      {
        "type": "select",
        "id": "style",
        "label": "t:raw-extra-words.settings_schema.layout_labels.style",
        "options": [
          {
            "label": "t:sections.featured-collection.settings.layout.options__1.label",
            "value": "slider"
          },
          {
            "label": "t:sections.featured-collection.settings.layout.options__2.label",
            "value": "grid"
          },
          {
            "label": "t:raw-extra-words.settings_schema.options.list",
            "value": "list"
          }
        ],
        "default": "grid"
      },
      {
        "type": "header",
        "content": "t:raw-extra-words.settings_schema.labels.details"
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "t:raw-extra-words.settings_schema.labels.show_tags",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_date",
        "label": "t:raw-extra-words.settings_schema.labels.show_date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_comments",
        "label": "t:raw-extra-words.settings_schema.labels.show_comments",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "t:raw-extra-words.settings_schema.labels.show_author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_excerpt",
        "label": "t:raw-extra-words.settings_schema.labels.show_excerpt",
        "default": false
      },
      {
        "type": "header",
        "content": "t:raw-extra-words.settings_schema.labels.section_footer"
      },
      {
        "type": "text",
        "id": "cta_label",
        "label": "t:raw-extra-words.settings_schema.labels.button_text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "t:raw-extra-words.settings_schema.labels.button_url"
      },
      {
        "type": "checkbox",
        "id": "cta_target",
        "label": "t:footer-menu-items.open_links_in_new_window",
        "default": false
      },
      {
        "type": "header",
        "content": "t:raw-extra-words.settings_schema.colors.header_section"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:color-schemes.name_singular",
        "default": "scheme_1"
      },
      {
        "type": "checkbox",
        "id": "disable_section_bottom_border",
        "label": "t:raw-extra-words.settings_schema.borders.remove.hide_section_bottom_border",
        "default": false
      },
      {
        "type": "header",
        "content": "t:raw-extra-words.settings_schema.colors.header_inner"
      },
      {
        "type": "checkbox",
        "id": "disable_border",
        "label": "t:raw-extra-words.settings_schema.borders.remove.hide_borders",
        "default": false
      }
    ],    
    "presets": [
      {
        "name": "t:sections.blog-posts.presets.name"
      }
    ],
    "disabled_on": {
      "groups": ["header", "custom.drawers", "custom.overlay"],
      "templates": ["password"]
    }
  }
{% endschema %}