
<div id="element-{{ section.id }}"  class="card card--has-background card--no-borders rich-text" 
  style="--rich-text-gutter:var(--gutter-large)"
>
    
  <div class="card__content rich-text__container rich-text__container--image-top no-image rich-text__container--mobile-media-hide rich-text__container--mobile-image-fit">
      
    <div class="rich-text__text align-content align-content--horizontal-center align-content--vertical-middle gutter--large">

      <div class="card__text spacing--custom remove-empty-space element--width-70" style="--spacing:24px">

        <h1 class="text-font--headings text-line-height--default text-size--80 rte remove-empty-space">
          {{ section.settings.title | escape }}
        </h1>

        {%- if section.settings.content != blank -%}
          <div class="text-font--body text-line-height--default text-size--30 rte remove-empty-space">
            {{ section.settings.content }}
          </div>
        {%- endif -%}

        {%- if shop.password_message != blank -%}
          <div class="text-font--body text-line-height--default text-size--30 rte remove-empty-space">
            <p>{{ shop.password_message }}</p>
          </div>
        {%- endif -%}

      </div>

    </div>

  </div>

</div>

{%- liquid
  render 'color-scheme', color_scheme: section.settings.color_scheme, hide_section_bottom_border: section.settings.disable_section_bottom_border
-%}

{% schema %}
	{
    "name": "t:sections.main-password-content.name",
    "class": "element--has-section-borders mount-rich-text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.popup.settings.title.label",
        "default": "Opening soon"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "t:sections.popup.settings.content.label"
      },
      {
        "type": "header",
        "content": "t:raw-extra-words.settings_schema.colors.header_section"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:color-schemes.name_singular",
        "default": "scheme_1"
      },
      {
        "type": "checkbox",
        "id": "disable_section_bottom_border",
        "label": "t:raw-extra-words.settings_schema.borders.remove.hide_section_bottom_border",
        "default": false
      }
    ]
  }
{% endschema %}